<!--Loading Results-->
 
<div class="spinnerMessage">
    <div class="spinnerMessageInner-top spinnerMessageInner">
       We are searching the market for products that match your criteria, it won't take long!
    </div>
    <div class="spinnerMessageInner-bottom spinnerMessageInner">
        <div class="loader"></div>
    </div>
</div>
        

<!--Loading Results end container end-->